@{
    ViewData["Title"] = "Members Index Page";
}

<h1>Hey, Here's the members list</h1>
<a asp-controller="Members" asp-action="Add">Add Member</a> 

@foreach (var item in ViewBag.members)
{
    <p>Member Information: </p>
    <p>{item.MemberId}</p>
}
