@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Eiliya (ilia) Abedianamiri | A01276956</h1>
    <h2>
        <a
            href="https://www.google.com/search?q=ilia+pronunciation+in+english&oq=ilia+pronounciation&aqs=chrome.2.69i57j0i10l2j0i390l2.4123j0j7&sourceid=chrome&ie=UTF-8"
            target="_blank">
            My name's pronounciation
        </a>
    </h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
